html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    font-size: 45px;
    margin: 15px 0;
}

.company-name{
    font-size: 20px;
}