// Template Styles
//.flex-center {
//    align-items: center;
//    display: flex;
//    justify-content: center;
//}
//.navbar-laravel {
//    background-color: #fff;
//    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}
//
//.top-right {
//    position: absolute;
//    right: 10px;
//    top: 18px;
//}